# Trigger travis
language: node_js
node_js:
  - "node"
script:
  - npm test
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
  keep_history: true
  on:  
    tags: true
deploy:
  skip_cleanup: true
  provider: releases
  api_key: $GITHUB_TOKEN # Set in travis-ci.org dashboard
  file: DCoreJS-SDK-developer-docs-${TRAVIS_TAG}.zip
  on:
    tags: true  
before_deploy:
  - echo ${TRAVIS_TAG}
  - npm run doc -- --name "DCore SDK for JS - API documentation - version ${TRAVIS_TAG}" --ignoreCompilerErrors
  - touch .nojekyll
  - sed -i '/docs/d' .gitignore
  - zip DCoreJS-SDK-developer-docs-${TRAVIS_TAG}.zip -r ./docs